@model IEnumerable<AircraftSystem.Models.Aircraft>
@{
    ViewData["Title"] = "Home Page";
}
@section scripts{
    <script>
        $(function () {
            $('button.details').on('click', function () {
                $('.modal-body').load(`/Aircraft/AircraftDetails?id=${$(this).data('id')}`);
            });
        })
    </script>
}
<div class="text-center">
    <h1 class="display-4">Welcome To Aircraft Sightings</h1>
</div>
@using (Html.BeginForm("Index", "Home", FormMethod.Post))
    {  
        
            
         <div class="form-row align-items-center float-right">
          
    <div class="col-auto">
      <label class="sr-only" for="inlineFormInput">Search:</label>
     @Html.TextBox("Search", null, new { @class = "form-control" }) 
    </div>
    <div class="col-auto">
              <input type="submit" class="btn btn-primary mb-2" id="inputSearch" value="Search" placeholder="Search">
             
    </div>
  </div>
    }
       <div class="col-auto my-1">
     <a asp-action="Create" asp-controller="Aircraft" class="btn  btn-info">Create New</a>
    </div>
<div class="container row">
    @foreach (var item in Model)
    {
     <div class="col-md-3 pt-2">
       <div class="card text-center">
            <div class="card-header">
                
                 <i class="fa fa-plane fa-3x" aria-hidden="true"></i>
            </div>
             <img src="/Uploads/@(item.Make + "_" + item.Model+ ".jpg")"  class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">@item.Registration</h5>
                <p class="card-text"> @item.Make - @item.Model</p>
                 <button class="btn btn-dark details" data-id="@item.Id" data-toggle="modal" data-target="#details-modal">Details</button>
            </div>
        </div>
    </div>
    }
</div>

 
<div class="modal fade" tabindex="-1" role="dialog" id="details-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Aircraft Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body"></div>
        </div>
    </div>
</div>